<div class="blogList list">
	<% posts.forEach(function (post) { %>
	<div class="blogList-row list-row clear-floats">
		<div class="blogList-row-leftCell flow-left">
			<h2 class="blogList-title list-title">
				<a href="<%= path_to.edit_admin_post(post) %>"><%= post.title %></a>
			</h2>
			<div class="blogList-thumbnailContainer flow-left">
				<img class="blogList-thumbnail" src="/uploaded/posts/<%= post.thumbnail_filename %>" />
			</div>
			<div class="blogList-excerpt flow-left">
				<span><%- post.excerpt ? convertToHtml( post.excerpt ) : "" %></span>
			</div>
			<div class="blogList-info">
				<span>author: <%= users[ post.author() ].username %></span>
				<span>published on: <%= formatToDate(post.published_date) || "" %></span>
			</div>
		</div>
	</div>
	<% }); %>
</div>