<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<%- stylesheet_link_tag('style') %>
		<%- csrf_meta_tag() %>
	</head>
	<body>
		<div class="container">
			<%- partial('layouts/alert_message.ejs') %>
			<%- partial('layouts/admin_topnav.ejs') %>
			<div class="content">
				<%- body %>
			</div>
			<%- partial('layouts/footer.ejs') %>
		</div>
	</body>
	<%- javascript_include_tag('jquery', 'rails', 'application', 'validation', 'nicEdit', 'admin') %>
</html>