<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<%- stylesheet_link_tag('style') %>
		<%- csrf_meta_tag() %>
	</head>
	<body>
		<div class="container">
			<% [ "info", "error" ].forEach( function( flash_type ) {
					var flash = request.flash(flash_type).pop();
					if (flash) {
			%>
				<div class="alert-message <%- flash_type %>">
					<%- flash %>
					<div class="close flow-right" href="#">×</div>
				</div>
			<%  }
				 });
			%>

			<%- body %>
		</div>
	</body>
	<%- javascript_include_tag('jquery', 'rails', 'application') %>
	<script>
		$('.alert-message a.close').click(function () {
			$(this).parent().fadeOut('slow');
		});
	</script>
</html>