<!DOCTYPE html>
<html>
	<head>
		<title>Controller post: <%= title %></title>
		<%- stylesheet_link_tag('style') %>
		<%- csrf_meta_tag() %>
	</head>
	<body>
		<div class="container">
			<% var flash = request.flash('info').pop(); if (flash) { %>
			<div class="alert-message info">
				<a class="close" href="#">×</a>
				<%- flash %>
			</div>
			<% } %>

			<% flash = request.flash('error').pop(); if (flash) { %>
			<div class="flash error">
				<a class="close" href="#">×</a>
				<%- flash %>
			</div>
			<% }; %>

			<%- body %>
		</div>
	</body>
	<%- javascript_include_tag('jquery', 'rails', 'application') %>
	<script>
		$('.alert-message a.close').click(function () {
			$(this).parent().fadeOut('slow');
		});
	</script>
</html>